*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
}

h1 {
    text-align: center;
}

.mylogo {
    width: 200px;
    height: auto;
}

.mylogo {
    display: block;
    margin: 2rem auto;
}

.mylogo {
    text-align: center;
}

header{
    background-color: #000000;
    padding: 1rem;
}

header {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;

}

header a {
    display: inline;
}

header a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

header a:hover {
    background-color: #555555;
    border-radius: 5px;
}

.post-entry {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.post-entry h2 {
    margin-bottom: 0.5rem;
}

.post-entry p {
    color: #333;
}

.h1, .post-entry {
    text-align: center;
}
